#contact {
	border-bottom: 1px solid black;
}

#about {
	box-shadow: 0px 3px 3px -3px black;

}

.header {
	font-style: italic;
	text-align: center;

}
form {
	margin-top: 20px;

}

#cen {
	margin-top: -15px;
	text-align: center;
}

.menu {
	text-align: center;
	box-shadow: 0px 4px 4px -4px gray;

}
#mid {
	text-align: center;
}

#footer {
	height: 100%;
	font-size: 12px;
	font-style: italic;
}
#pic {
	margin-top: 10px;
}

#text {
	margin-top: -15px;
}

#text2 {
	margin-top: 40px;
}

#text3 {
	margin-top: 40px;
}

@media (max-width: 550px) {
	#text {
		margin-top: -35px;
	}
	#text2 {
		margin-top: -20px;
	}
	#text3 {
		margin-top: 0px;
	}
	#pic {
		margin-top: 0;
	}

}

#info {
	margin-top: 30px;
}
