body {
}
.container {
	background-color: #FFF;
	height: 100%;
}
#header {
}
.header {
	font-style: italic;
	text-align: center;

}

#cen {
	margin-top: -15px;
	text-align: center;
}
.menu {
	letter-spacing: 10px;
	margin-top: 30px;
	text-align: center;
}

#footer {
	height: 100%;
	font-size: 12px;
	font-style: italic;
}

#info {
	margin-top: 30px;
	margin-left: 0px;
	padding-bottom: 80px;
	border-bottom: 1px solid black;
}

