body {
}
#contact {
	border-bottom: 1px solid black;
}
#work {
	box-shadow: 0px 3px 3px -3px black;

}
.container {
	background-color: #FFF;
	height: 100%;
}
#header {
}
.header {
	font-style: italic;
	text-align: center;

}

#cen {
	margin-top: -15px;
	text-align: center;
}
.menu {
	margin-bottom: 0px;
	text-align: center;
	box-shadow: 0px 4px 4px -4px gray;

}

#footer {
	width: 100%;
	font-size: 12px;
	font-style: italic;
}

#info {
	margin-top: 20px;
	margin-bottom: 20px;
}
.info2 {
	border-bottom: 1px solid black;
}


@media (max-width: 400px) {
	img {
		margin-left: 33%;
		max-width: 120px;

	}

}

@media (max-width: 550px) {
	img {
		max-width: 120px;
		margin-left: 33%;
	}

	.title {
		text-align: center;
		font-weight: bold;
	}
}


